.lead {
  min-height: 57.5rem;
  background-image: url(./../../assets/lead-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  padding: 15.5rem 0;
}

.info {
  max-width: 38rem;
  /* margin: 0 auto; */
  margin-right: 59.5em;
  margin-left: auto;
}
