.lead {
  min-height: 57.5rem;
  background-image: url(./../../assets/lead-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
}

.container {
  max-width: 70%;
  margin: 0 auto;
  overflow: auto;
}

.info {
  max-width: 38rem;
  margin-top: 15.5rem;
  margin-bottom: 3.75rem;
}
