.lead {
  min-height: 57.5rem;
  background-image: url(./../../assets/lead-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 15.5rem 0;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.info {
  max-width: 38rem;
}
