.button {
  --clr-btn: var(--clr-btn-base);
  cursor: pointer;
  padding: 1.2rem 2.2rem;
  background-color: var(--clr-btn);
  border: 0.0625rem solid var(--clr-btn);
  font-size: var(--fs-smaller);
  font-family: var(--ff-forth);
  font-weight: 400;
  line-height: 1rem;
  color: var(--clr-btn-text);

  position: relative;
  isolation: isolate;
}

.button::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: color-mix(in srgb, var(--clr-btn) 80%, black);
  inset: 0;
  scale: 0 1;
  transform-origin: right;
  transition: scale 450ms;
}

.button:hover::after {
  transform-origin: left;
  scale: 1 1;
}

.button:active::after {
  background-color: color-mix(in srgb, var(--clr-btn) 70%, black);

}

.inverse {
  background-color: var(--clr-btn-text);
  color: var(--clr-btn);
  transition: color 350ms;
}

.inverse:hover {
  color: var(--clr-btn-text);
}

/*--------------------------------------------*/

@media screen and (max-width: 1000px) {
  .button {
    padding: .8rem 1.8rem;
  }
}