.service {
  margin-top: 7.5rem;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/*--------------------------------------------*/

@media screen and (max-width: 1280px) {
  .service {
    margin-top: 4.5rem;
  }

  .container {
    margin: 0 auto;
    width: 70%;
  }
}

@media screen and (max-width: 1000px) {
  .service {
    margin-top: 2.5rem;
  }
}

@media screen and (max-width: 500px) {
  .service {
    margin-top: 1.5rem;
  }
}

