.offer {
  padding: 6.25rem 0;
  text-align: center;
  background-color: var(--clr-bg-second);
}

.services {
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  border-top: solid 1px var(--clr-brd-base);
  border-bottom: solid 1px var(--clr-brd-base);
  margin: 4.75rem 0 3rem;
}

.service {
  color: color-mix(in srgb, var(--clr-tp-base) 50%, white);
  font-family: var(--ff-forth);
  font-size: var(--fs-base);
  letter-spacing: 0.16px;
  font-weight: 500;
  padding: 1.625rem 2.1875rem;
  position: relative;
  isolation: isolate;
  cursor: pointer;
}

.service::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-bottom: 2px solid var(--clr-acc-base);
  scale: 0 1;
  transition: scale 450ms;
  width: 50%;
  left: 25%;
}

.service:hover::after {
  scale: 1 1;
}

.active {
  color: var(--clr-tp-base);
  position: relative;
  isolation: isolate;
}

.active::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-bottom: 2px solid var(--clr-acc-base);
  scale: 1 1;
  transition: scale 450ms;
  width: 50%;
  left: 25%;
}

.list {
  display: flex;
  justify-content: center;
}

.item {
  display: grid;
  column-gap: 3rem;
  width: 90%;
  grid-template-columns: repeat(2, 1fr);
}



/*--------------------------------------------*/

@media screen and (max-width: 1280px) {
  .offer {
    padding: 4.5rem 0;
  }

  .item {
    column-gap: 2rem;
  }

  .services {
    margin: 4rem 0 2.5rem;
  }

  .service {
    padding: 1.3rem 2rem;
  }
}

@media screen and (max-width: 1000px) {
  .offer {
    padding: 2.5rem 0;
  }

  .item {
    grid-template-columns: repeat(1, 1fr);
  }

  .services {
    margin: 2.5rem 0 1.5rem;
  }

  .service {
    padding: 1rem 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  .offer {
    padding: 1.5rem 0;
  }

  .services {
    margin: 1.5rem 0 1rem;
  }

  .service {
    padding: 0.7rem 0.6rem;
  }
}
