.pro {
  padding: 6.25rem 0;
}

.container {
  display: flex;
  justify-content: center;
  gap: 8.5rem;
}

.img {
  background-image: url("./../../assets/auto-service5.jpg");
  background-repeat: no-repeat;
  width: 35.6rem;
  height: 41.25rem;
}

.info {
  max-width: 32rem;
}

.info h2 {
  margin-top: 8rem;
  margin-bottom: 2.5rem;
}

.info p {
  margin-bottom: 4rem;
}

/*--------------------------------------------*/

@media screen and (max-width: 1380px) {
  .container {
    gap: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .pro {
    padding: 5rem 0 1rem;
  }

  .container {
    display: block;
  }

  .img {
    display: none;
  }

  .info {
    margin: 0 auto;
    max-width: 70%;
    text-align: center;
  }

  .info h2 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    max-width: 100%;
  }

  .info p {
    margin-bottom: 1.5rem;
    max-width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .pro {
    padding: 3rem 0 0.5rem;
  }

  .info {
    margin: 0 auto;
    max-width: 80%;
    text-align: center;
  }
}
