.knownFor {
  padding: 5rem;
}

.header {
  max-width: 62.5rem;
  margin: 0 auto 4.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: -1px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 18.75rem;
  height: 13.5rem;
  padding: 2.5rem;
  border: 1px solid var(--clr-brd-base);
  margin: -1px -1px 0 0;
  gap: 2.5rem;
  position: relative;
  isolation: isolate;
  transition: transform 450ms ease;
}

.card:hover {
  transform: translateY(-1.5rem);
}

.card::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-bottom: 5px solid var(--clr-acc-base);
  scale: 0 1;
  transition: scale 450ms;
}

.card:hover::after {
  scale: 1 1;
}

.card span {
  font-size: var(--fs-bigger);
  font-family: var(--ff-second);
  font-weight: 400;
  line-height: 1.6rem;
  color: var(--clr-tp-second);
}

/*--------------------------------------------*/

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1000px) {
  .knownFor {
    padding: 3.5rem 0;
  }

  .header {
    margin: 0 auto 1.5rem;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .card {
    width: 70%;
    height: 9rem;
    justify-content: space-between;
    gap: 0;
    padding: 1.5rem;
  }

  .card:hover {
    transform: translateY(0);
  }

  .faicon {
    font-size: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .knownFor {
    padding: 2.5rem 0;
  }
 
  .header {
    margin: 0 auto .5rem;
  }

  .cards {
    gap: .5rem;
  }

  .card {
    height: 6rem;
    padding: 1rem;
  }

  .card:hover {
    transform: translateY(0);
  }

  .faicon {
    font-size: 2rem;
  }

  .card span {
    font-size: var(--fs-base);
    font-family: var(--ff-second);
    font-weight: 400;
    line-height: 1.6rem;
    color: var(--clr-tp-second);
  }
}
