.knownFor {
  padding: 5rem;
}

.header {
  max-width: 62.5rem;
  margin: 0 auto 4.5rem;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: -1px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 18.75rem;
  height: 13.5rem;
  padding: 2.5rem;
  border: 1px solid #ccc;
  margin: -1px -1px 0 0;
  gap: 2.5rem;
  position: relative;
  isolation: isolate;
  transition: transform 450ms ease;
}

.card:hover {
  transform: translateY(-1.5rem);
}

.card::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-bottom: 5px solid var(--color-accent);
  scale: 0 1;
  transition: scale 450ms;
}

.card:hover::after {
  border-bottom: 5px solid var(--color-accent);
  scale: 1 1;
}

.card span {
  font-size: 1.25rem;
  font-family: JosefinSans, "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  color: var(--color-typo-secondary);
}
