.experience {
  margin-top: 4rem;
}

.container {
  display: flex;
  justify-content: center;
  gap: 7.2rem;
  margin: 0 auto;
}

.info {
  max-width: 31.5rem;
  margin-top: 10rem;
}

.cards {
  display: grid;
  gap: 1.9rem;
  grid-template-rows: repeat(8, 5rem);
  grid-template-columns: repeat(2, 17.5rem);
}

.card {
  box-shadow: 0 0 3rem #cccccc7e;
  box-sizing: border-box;
  padding: 2.5rem 2.2rem;
}

.card h3 {
  margin: 1rem 0;
  font-size: var(--fs-h4);
  font-family: var(--ff-third);
  font-weight: 400;
  line-height: 1.79rem;
  color: var(--clr-tp-base);
}

.card p {
  margin: 1rem 0;
  font-size: var(--fs-smaller);
  font-family: var(--ff-forth);
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--clr-tp-second);
}

.card:hover {
  box-shadow: 0 0 3rem var(--clr-brd-base);
}

.card1 {
  grid-row: 2 / 5;
  grid-column: 1 / 2;
}

.card2 {
  grid-row: 1 / 4;
  grid-column: 2 / 3;
}

.card3 {
  grid-row: 5 / 8;
  grid-column: 1 / 2;
}

.card4 {
  grid-row: 4 / 7;
  grid-column: 2 / 3;
}

.list {
  margin-top: 2.8rem;
  margin-bottom: 3.75rem;
  padding: 0;
  list-style: none;
}

.item {
  margin-bottom: 1rem;
  font-size: var(--fs-base);
  font-family: var(--ff-forth);
  line-height: 1.5rem;
  color: var(--color-typo-main);
}

.item span {
  margin-left: 0.5rem;
}

/*--------------------------------------------*/

@media screen and (max-width: 1380px) {
  .container {
    gap: 1rem;
    max-width: 90%;
  }

  .info {
    max-width: 100%;
    margin-top: 0rem;
  }
}

@media screen and (max-width: 1200px) {
  .experience {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .container {
    display: block;
  }

  .list {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  .item {
    margin-bottom: 0.5rem;
    font-size: var(--fs-smaller);
    line-height: 1.2rem;
  }

  .item span {
    margin-left: 0.5rem;
  }

  .cards {
    grid-template-rows: repeat(8, auto);
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .card {
    padding: 2rem 1.5rem;
    box-shadow: 0 0 1.5rem #cccccc7e;
  }

  .card h3 {
    margin: 0.5rem 0;
    font-size: var(--fs-h5);
  }

  .card p {
    margin: 0.5rem 0;
    font-size: var(--fs-smallest);
    line-height: 1.1rem;
  }
}

@media screen and (max-width: 500px) {
  .experience {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .list {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .item {
    margin-bottom: 0.2rem;
    font-size: var(--fs-smallest);
    line-height: 1.2rem;
  }

  .item span {
    margin-left: 0.5rem;
  }

  .cards {
    margin-top: 2rem;
    display: grid;
    gap: 1.9rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }

  .card {
    padding: 2.2rem 2rem;
    grid-row: auto;
    grid-column: auto;
  }

  .card h3 {
    margin: 0.5rem 0;
    font-size: var(--fs-h5);
  }

  .card p {
    margin: 0.5rem 0;
    font-size: var(--fs-smallest);
    line-height: 1.1rem;
  }
}
