.title {
  color: var(--color-typo-main);
  font-family: "Josefin Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 3.75rem;
  margin: 1.5rem 0;
  line-height: 4.4rem;
}

.text {
    color: var(--color-typo-secondary);
    font-family: "Helvetica Neue", "Arial", sans-serif;
    margin: 1.5rem 0;
    font-size: 1.1rem;
    font-weight: 400;
}
