.title {
  margin: 0 0 1.5rem 0;
  font-size: var(--fs-h2);
  font-family: var(--ff-second);
  font-weight: 400;
  line-height: 3.4rem;
  color: var(--clr-tp-base);
}

.big {
  font-size: var(--fs-h1);
  line-height: 4.4rem;
}

.small {
  font-size: var(--fs-h3);
  line-height: 2.75rem;
}

.text {
  max-width: 40rem;
  margin: 0 0 1.5rem 0;
  font-size: var(--fs-base);
  font-family: var(--ff-base);
  font-weight: 400;
  line-height: 1.7rem;
  color: var(--clr-tp-second);
}

.inverse {
  color: var(--clr-tp-third);
}
