.title {
  margin: 0 0 1.5rem 0;
  font-size: var(--fs-h2);
  font-family: var(--ff-second);
  font-weight: 400;
  line-height: 3.4rem;
  color: var(--clr-tp-base);
  text-wrap: balance;
  max-width: 90%;
}

.big {
  font-size: var(--fs-h1);
  line-height: 4.4rem;
}

.small {
  font-size: var(--fs-h3);
  line-height: 2.75rem;
}

.text {
  max-width: 40rem;
  margin: 0 0 1.5rem 0;
  font-size: var(--fs-base);
  font-family: var(--ff-base);
  font-weight: 400;
  line-height: 1.7rem;
  color: var(--clr-tp-second);
}

.inverse {
  color: var(--clr-tp-third);
}

/*--------------------------------------------*/

@media screen and (max-width: 1440px) {
  .title {
    margin: 0 0 1rem 0;
    font-size: var(--fs-h3);
    line-height: 2.4rem;
  }

  .big {
    font-size: var(--fs-h2);
    line-height: 2.8rem;
  }

  .small {
    line-height: 2.4rem;
  }

  .text {
    margin: 0 0 1rem 0;
    font-size: var(--fs-smaller);
    line-height: 1.4rem;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: var(--fs-h4);
    line-height: 1.6rem;
  }

  .big {
    font-size: var(--fs-h3);
    line-height: 2.2rem;
  }

  .small {
    font-size: var(--fs-h4);
    line-height: 1.4rem;
  }

  .text {
    font-size: var(--fs-smallest);
    line-height: 1rem;
    max-width: 90%;
  }
}
