.contacts {
  box-sizing: border-box;
  padding: 7.5rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./../../assets/home_auto_service_contact_bg4.jpg");
}

.title {
  margin: 0 auto;
  text-align: center;
  max-width: 78rem;
}

.container {
  margin: 4.6875rem auto 0;
  max-width: 78rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;

  align-items: center;
}

.faq {
  color: var(--clr-tp-third);
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
}

details {
  box-sizing: border-box;
  padding: 1.6875rem 2.1875rem;
  background-color: hsla(0, 0%, 100%, 0.25);
  border: 1px solid var(--clr-brd-base);

  summary {
    font-family: var(--ff-third);
    font-size: 1.1rem;
    line-height: 1.38rem;
    letter-spacing: -0.17px;
  }

  p {
    margin: 1.75rem 0 0;
    font-family: var(--ff-forth);
    font-size: 1rem;
    line-height: 1.3rem;
  }
}

.formWrapper {
  box-sizing: border-box;
  background-color: var(--clr-bg-base);
  padding: 3.5rem 5rem;
  height: fit-content;
}

.form {
  display: flex;
  gap: 0.6125rem;
  flex-direction: column;
  align-items: center;

  input,
  textarea {
    width: 100%;
    min-height: 3.5rem;
    background-color: var(--clr-bg-second);
    border: 1px solid var(--clr-brd-base);
    box-sizing: border-box;
    padding: 1rem;
  }

  p {
    color: var(--clr-err-base);
    margin: 0;
  }
}

.inputField {
  width: 100%;
}

.formText {
  text-align: center;

  h3 {
    margin: 1rem 0;
    font-size: 1.5625rem;
    font-family: var(--ff-third);
    font-weight: 400;
    line-height: 1.95rem;

    color: var(--clr-tp-base);
  }

  p {
    margin: 1.25rem 0 2.5rem;
    font-size: 0.9375rem;
    font-family: var(--ff-forth);
    font-weight: 400;
    line-height: 1.4rem;
    color: var(--clr-tp-second);
  }
}

.formModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-bg-base);
  box-sizing: border-box;
  padding: 3rem 5rem;
  border-radius: 8px;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: none;
  gap: 1rem;

  h3 {
    font-family: var(--ff-second);
    font-size: var(--fs-h2);
    color: var(--clr-tp-base);
    font-weight: 500;
  }

  p {
    font-family: var(--ff-base);
    font-size: var(--fs-big);
    color: var(--clr-tp-second);
    font-weight: 400;
  }
}

.formModal_active {
  display: flex;
  flex-direction: column;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 900;
}

/*--------------------------------------------*/

@media screen and (max-width: 1380px) {
  .title {
    display: flex;
    justify-content: center;
    max-width: 90%;
  }

  .container {
    gap: 1rem;
    max-width: 90%;
  }

  .faq {
    gap: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .contacts {
    padding: 5.5rem 0;
  }

  .container {
    display: block;

    margin: 3rem auto 0;
  }

  .faq {
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .formWrapper {
    margin: 0 auto;
    max-width: 30rem;
    padding: 2.5rem 4rem;
  }

  .form {
    gap: 0.6125rem;

    input,
    textarea {
      min-height: 2.5rem;
      background-color: var(--clr-bg-second);
      border: 1px solid var(--clr-brd-base);
    }
  }

  .formText {
    h3 {
      margin: 1rem 0;
      font-size: 1.5625rem;
      line-height: 1.95rem;
    }

    p {
      margin: 1rem 0 1.5rem;
      font-size: 0.9375rem;
      line-height: 1.4rem;
    }
  }

  .formModal {
    padding: 2rem 4rem;

    h3 {
      font-size: var(--fs-h3);
      font-weight: 500;
    }

    p {
      font-size: var(--fs-bigger);
      font-weight: 400;
    }
  }
}

@media screen and (max-width: 500px) {
  .contacts {
    padding: 3.5rem 0;
  }

  .container {
    margin: 1.5rem auto 0;
  }

  details {
    padding: 1.5rem 2rem;

    summary {
      font-size: 1.1rem;
      line-height: 1.2rem;
      letter-spacing: -0.17px;
    }

    p {
      margin: 1.5rem 0 0;
      font-size: 0.85rem;
      line-height: 1.2rem;
    }
  }

  .formWrapper {
    padding: 2rem 2rem;
  }

  .form {
    gap: 0.5rem;

    input,
    textarea {
      min-height: 2rem;
    }
  }

  .formText {
    h3 {
      margin: 0.5rem 0;
      font-size: 1.5rem;
      line-height: 1.7rem;
    }

    p {
      margin: 1rem 0 1rem;
      font-size: 0.8rem;
      line-height: 1.3rem;
    }
  }

  .formModal {
    padding: 1rem 2rem;
    h3 {
      font-size: var(--fs-h4);
      font-weight: 500;
    }

    p {
      font-size: var(--fs-base);
      font-weight: 400;
    }
  }
}
